body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

.header {
    background-color: black;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    
}

.header a {
    color: whitesmoke;
    text-decoration: none;
}

#bar {
    overflow: hidden;
    background-color: #333;
  }

 #bar a {
    float: right;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 15px;
  }
 
  #bar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #bar a.active {
    background-color: #740800;
    color: white;
  }
  

  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(71, 0, 0);
    color: white;
    text-align: center;
  }
  
